{% extends 'base.html' %}


{% block content %}

    <a href="{% url "create_sensor" %}" class="btn btn-success ">Add</a>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">
                Name
                <a href="{% url 'sensor' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                <a href="{% url 'sensor' %}?order=asc"><i class="bi bi-arrow-up"></i></a>


            </th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>

        {% if sensors_filter %}
            {% for sensor in sensors_filter %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sensor.name }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for sensor in sensors %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'detail_sensor' sensor.id %}">{{ sensor.name }}</a></td>
                    <td>
                        <a href="{% url 'update_sensor' sensor.id %}" class="btn btn-info">Update</a>
                        <a href="{% url "delete_sensor" sensor.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        {% endif %}

        <input type="text" class="">
        </tbody>
    </table>

{% endblock %}
