{% extends 'base.html' %}


{% block content %}

    <a href="{% url "create_organization" %}" class="btn btn-success ">Add</a>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">
                Name
                <a href="{% url 'organization' %}?order=desc"><i class="bi bi-arrow-down"></i></a>
                <a href="{% url 'organization' %}?order=asc"><i class="bi bi-arrow-up"></i></a>


            </th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>

        {% if organization_filter %}
            {% for org in organization_filter %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ org.name }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for org in organizations %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'detail_organization' org.id %}">{{ org.name }}</a></td>
                    <td>
                        <a href="{% url 'update_organization' org.id %}" class="btn btn-info">Update</a>
                        <a href="{% url "delete_organization" org.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        {% endif %}

        <input type="text" class="">
        </tbody>
    </table>

{% endblock %}
