{% extends 'base.html' %}

{% block content %}
	<p> Employee name:  {{ employee.brand }}</p>
	<p> Employee category:  {{ employee.first_name }}</p>
	<p> Employee level:  {{ employee.last_name }}</p>
	<p> Employee region:  {{ employee.surname }}</p>
	<p> Employee district:  {{ employee.organization }}</p>
	<p> Employee address:  {{ employee.position }}</p>
	<p> Employee latitude:  {{ employee.birthday }}</p>
	<p> Employee longitude:  {{ employee.place_of_birth }}</p>
	<p> Employee longitude:  {{ employee.pasport_data }}</p>
{% endblock %}
