{% extends 'base.html' %}

{% block content %}
	<p> Organization name:  {{ organization.name }}</p>
	<p> Organization category:  {{ organization.category }}</p>
	<p> Organization level:  {{ organization.level }}</p>
	<p> Organization region:  {{ organization.region }}</p>
	<p> Organization district:  {{ organization.district }}</p>
	<p> Organization address:  {{ organization.address }}</p>
	<p> Organization latitude:  {{ organization.latitude }}</p>
	<p> Organization longitude:  {{ organization.longitude }}</p>
{% endblock %}
